<% content_for :title, 'Jumpstart Pro Development' %>

<div class="bg-blue-900 bg-center bg-contain rounded-xl md:rounded-none" style="background-image: url(<%= image_url('bg_hero_jumpstart.png') %>);">
  <div class="flex flex-col max-w-screen-xl mx-auto mb-10 px-5 py-10 text-center md:py-20">
    <h1 class="font-black font-header leading-none my-5 text-4xl text-white uppercase md:text-6xl">
      Jumpstart Pro Development
    </h1>
    <p class="text-white text-xl md:text-2xl">
      Ready to get started? Jump straight to <a href="#pricing-new" class="font-bold text-white underline hover:text-white">pricing</a>
    </p>
  </div>
</div>

<div class="flex flex-col-reverse max-w-screen-xl mx-auto pb-10 md:pb-20 md:py-10 md:flex-row">
  <div class="font-medium prose prose-lg p-5 md:p-0 md:pl-10 md:prose-xl md:w-1/2">
    <h2 class="font-black">
      What is Jumpstart Pro?
    </h2>
    <p><strong>Jumpstart Pro is the best available Ruby on Rails SaaS template.</strong></p>
    <p>It's the perfect starting point for your next project.</p>
    <p>It includes everything you need to get started right out of the box, so you can concentrate on your business instead of the basic boilerplate.</p>
    <p>The Jumpstart team understands the challenges of building products. Having created many themselves, they became familiar with the recurring issues.</p>
    <p>Something as simple as adding Teams to your application can get really tricky, really fast. They learned this the hard way and that's why they built Jumpstart Pro.</p>
  </div>
  <div class="flex items-center px-5 pb-5 md:p-0 md:w-1/2">
    <%= image_tag('img_jumpstart_pro.png', class: "w-full md:-mr-20") %>
  </div>
</div>

<div class="bg-slate-100 md:py-20">
  <div class="flex flex-col max-w-screen-xl mx-auto md:flex-row">
    <div class="flex items-center p-5 md:p-0 md:w-1/2">
      <%= image_tag('img_jumpstart_pro_secondary.jpg',
        class: "max-w-xl rounded-lg w-full md:-ml-10 md:shadow-xl") %>
    </div>
    <div class="font-medium prose prose-lg p-5 md:p-0 md:pt-10 md:pr-10 md:prose-xl md:w-1/2">
      <h2 class="font-black">
        We are your Jumpstart Pro professionals
      </h2>

      <p><strong>At Hard Work Montage we use Jumpstart Pro for everything we possibly can and you we think you should, too.</strong></p>

      <p>Our team has been working with Jumpstart Pro since it was first released and we know it inside and out.</p>

      <p>It's the best way to get your product to market faster and with fewer headaches.</p>

      <p>Let us help you build your next product with Jumpstart Pro.</p>
    </div>
  </div>
</div>

<div class="max-w-screen-xl mx-auto py-10 text-center md:py-20">
  <h2 class="font-black pb-5 px-5 text-3xl md:p-0 md:pb-16 md:text-4xl">
    Jumpstart Pro comes with everything your app needs
  </h2>

  <div class="grid grid-cols-2 gap-5 mx-auto p-5 md:p-0 md:gap-10 md:grid-cols-4">
    <div class="bg-slate-100 flex flex-col pb-10 pt-6 md:pb-16 md:pt-10 rounded-xl shadow-sm">
      <div class="flex justify-center">
        <%= feather_icon "credit-card", size: "40", class: "my-5 text-blue-500" %>
      </div>
      <h3 class="font-black text-lg text-slate-700 md:text-2xl">
        Payments
      </h3>
    </div>
    <div class="bg-slate-100 flex flex-col pb-10 pt-6 md:pb-16 md:pt-10 rounded-xl shadow-sm">
      <div class="flex justify-center">
        <%= feather_icon "users", size: "40", class: "my-5 text-blue-500" %>
      </div>
      <h3 class="font-black text-lg text-slate-700 md:text-2xl">
        Team accounts
      </h3>
    </div>
    <div class="bg-slate-100 flex flex-col pb-10 pt-6 md:pb-16 md:pt-10 rounded-xl shadow-sm">
      <div class="flex justify-center">
        <%= feather_icon "lock", size: "40", class: "my-5 text-blue-500" %>
      </div>
      <h3 class="font-black text-lg text-slate-700 md:text-2xl">
        Authentication
      </h3>
    </div>

    <div class="bg-slate-100 flex flex-col pb-10 pt-6 md:pb-16 md:pt-10 rounded-xl shadow-sm">
      <div class="flex justify-center">
        <%= feather_icon "clipboard", size: "40", class: "my-5 text-blue-500" %>
      </div>
      <h3 class="font-black text-lg text-slate-700 md:text-2xl">
        Invoicing
      </h3>
    </div>
    <div class="bg-slate-100 flex flex-col pb-10 pt-6 md:pb-16 md:pt-10 rounded-xl shadow-sm">
      <div class="flex justify-center">
        <%= feather_icon "message-square", size: "40", class: "my-5 text-blue-500" %>
      </div>
      <h3 class="font-black text-lg text-slate-700 md:text-2xl">
        Announcements
      </h3>
    </div>
    <div class="bg-slate-100 flex flex-col pb-10 pt-6 md:pb-16 md:pt-10 rounded-xl shadow-sm">
      <div class="flex justify-center">
        <%= feather_icon "at-sign", size: "40", class: "my-5 text-blue-500" %>
      </div>
      <h3 class="font-black text-lg text-slate-700 md:text-2xl">
        Notifications
      </h3>
    </div>
    <div class="bg-slate-100 flex flex-col pb-10 pt-6 md:pb-16 md:pt-10 rounded-xl shadow-sm">
      <div class="flex justify-center">
        <%= feather_icon "smartphone", size: "40", class: "my-5 text-blue-500" %>
      </div>
      <h3 class="font-black text-lg text-slate-700 md:text-2xl">
        Mobile ready
      </h3>
    </div>
    <div class="bg-slate-100 flex flex-col pb-10 pt-6 md:pb-16 md:pt-10 rounded-xl shadow-sm">
      <div class="flex justify-center">
        <%= feather_icon "briefcase", size: "40", class: "my-5 text-blue-500" %>
      </div>
      <h3 class="font-black text-lg text-slate-700 md:text-2xl">
        Admin area
      </h3>
    </div>

    <div class="bg-slate-100 flex flex-col pb-10 pt-6 md:pb-16 md:pt-10 rounded-xl shadow-sm">
      <div class="flex justify-center">
        <%= feather_icon "user", size: "40", class: "my-5 text-blue-500" %>
      </div>
      <h3 class="font-black text-lg text-slate-700 md:text-2xl">
        User impersonation
      </h3>
    </div>
    <div class="bg-slate-100 flex flex-col pb-10 pt-6 md:pb-16 md:pt-10 rounded-xl shadow-sm">
      <div class="flex justify-center">
        <%= feather_icon "bookmark", size: "40", class: "my-5 text-blue-500" %>
      </div>
      <h3 class="font-black text-lg text-slate-700 md:text-2xl">
        Blog
      </h3>
    </div>

    <div class="bg-slate-100 flex flex-col pb-10 pt-6 md:pb-16 md:pt-10 rounded-xl shadow-sm">
      <div class="flex justify-center">
        <%= feather_icon "mail", size: "40", class: "my-5 text-blue-500" %>
      </div>
      <h3 class="font-black text-lg text-slate-700 md:text-2xl">
        Contact form
      </h3>
    </div>
    <div class="bg-slate-100 flex flex-col pb-10 pt-6 md:pb-16 md:pt-10 rounded-xl shadow-sm">
      <div class="flex justify-center">
        <%= feather_icon "database", size: "40", class: "my-5 text-blue-500" %>
      </div>
      <h3 class="font-black text-lg text-slate-700 md:text-2xl">
        API
      </h3>
    </div>
    <div class="bg-slate-100 flex flex-col pb-10 pt-6 md:pb-16 md:pt-10 rounded-xl shadow-sm">
      <div class="flex justify-center">
        <%= feather_icon "image", size: "40", class: "my-5 text-blue-500" %>
      </div>
      <h3 class="font-black text-lg text-slate-700 md:text-2xl">
        Image uploads
      </h3>
    </div>
    <div class="bg-slate-100 flex flex-col pb-10 pt-6 md:pb-16 md:pt-10 rounded-xl shadow-sm">
      <div class="flex justify-center">
        <%= feather_icon "zap", size: "40", class: "my-5 text-blue-500" %>
      </div>
      <h3 class="font-black text-lg text-slate-700 md:text-2xl">
        Turbo compatible
      </h3>
    </div>
    <div class="bg-slate-100 flex flex-col pb-10 pt-6 md:pb-16 md:pt-10 rounded-xl shadow-sm">
      <div class="flex justify-center">
        <%= feather_icon "feather", size: "40", class: "my-5 text-blue-500" %>
      </div>
      <h3 class="font-black text-lg text-slate-700 md:text-2xl">
        Tailwind powered
      </h3>
    </div>
    <div class="bg-slate-100 flex flex-col pb-10 pt-6 md:pb-16 md:pt-10 rounded-xl shadow-sm">
      <div class="flex justify-center">
        <%= feather_icon "code", size: "40", class: "my-5 text-blue-500" %>
      </div>
      <h3 class="font-black text-lg text-slate-700 md:text-2xl">
        Fully customizable
      </h3>
    </div>
  </div>
</div>

<div class="bg-slate-100 px-5 py-10 rounded-xl md:p-0 md:py-20 md:rounded-none">
  <div class="max-w-screen-xl mx-auto">
    <h2 class="font-black mb-10 text-center text-2xl md:text-4xl" id="pricing-new">
      Straight-forward pricing
    </h2>

    <div data-controller="tabs"
     data-tabs-active-tab-class="bg-white font-bold text-slate-900 hover:text-slate-900 active:text-slate-900 focus:text-slate-900"
     data-tabs-inactive-tab-class="bg-slate-200 font-medium text-slate-500 hover:text-slate-500 focus:text-slate-500">

      <div class="flex justify-center ml-5">
        <nav class="flex" aria-label="Tabs">
            <a href="#pricing-new"
              id="pricing-new"
              data-tabs-target="tab"
              data-action="click->tabs#change:prevent"
              class="flex items-center justify-center p-5 px-10 rounded-l-full text-base md:text-xl">
                New product
            </a>
            <a href="#pricing-existing"
              id="pricing-existing"
              data-tabs-target="tab"
              data-action="click->tabs#change:prevent"
              class="whitespace-nowrap p-5 px-10 rounded-r-full text-base md:text-xl">
                Existing product
            </a>
        </nav>
      </div>

      <div class="hidden pt-10" data-tabs-target="panel">
        <div class="grid gap-10 md:grid-cols-2">
          <div class="bg-white flex flex-col py-5 rounded-xl shadow-xl md:py-10">
            <div class="flex justify-center">
              <%= feather_icon "star", size: "60", class: "my-5 text-slate-500 text-4xl" %>
            </div>
            <h3 class="font-black text-2xl text-center md:text-3xl">
              Prototype – $10,000
            </h3>
            <div class="p-5 pb-10 px-10">
              <p class="font-medium pb-3 text-slate-700 text-lg md:text-xl">
                <strong>Let Jumpstart Pro handle the boilerplate and ship the handful of features that are unique to your app</strong>
              </p>
              <ul class="font-medium list-outside	ml-5 p-2 text-slate-700 text-base md:text-lg">
                <li><strong>Feature Focus Framework:</strong> Online questionnaire that helps you drill down on the essential features unique to your app</li>
                <li><strong>Streamlined marketing site:</strong> Home, About, Contact</li>
                <li><strong>Authentication:</strong> Signup and login</li>
                <li><strong>Payments integration:</strong> Stripe, Braintree, or Paypal</li>
                <li>Admin area</li>
                
                <li>Staging server</li>
                <li>Production server hosted on your custom domain</li>
              </ul>
            </div>
            <div class="px-5 text-center">
              <%= link_to "Get started", contacts_path("type": "prototype"),
                class: "bg-blue-500 block font-black px-10 py-5 rounded-lg text-white text-lg w-full md:inline md:text-2xl md:w-fit hover:text-white" %>
              <p class="font-medium p-5 pt-8 px-10 pb-10 text-slate-400 text-lg">
                1 month engagement
              </p>
            </div>
          </div>

          <div class="bg-white flex flex-col py-10 rounded-xl shadow-xl">
            <div class="flex font-black items-center justify-center space-x-2 text-slate-500">
              <%= feather_icon "layout", size: "60", class: "my-5 text-slate-500" %>
            </div>
            <h3 class="font-black text-3xl text-center">
              MVP – $27,500
            </h3>
            <div class="p-5 pb-10 px-10">
              <p class="font-medium pb-3 text-slate-700 text-xl">
                <strong>Build on top of your prototype and create a fully functional, feature rich MVP</strong>
              </p>
              <ul class="font-medium list-outside	ml-5 p-2 text-slate-700 text-lg">
                <li><strong>Prototype Process Plan:</strong> Hone in on the additional features unique to your app using our user testing framework</li>
                <li><strong>Full marketing site:</strong> Interior pages</li>
                <li><strong>Mobile app:</strong> Launch in the iOS App Store</li>
                <li><strong>Authentication:</strong> Add Oauth sign-in</li>
                <li>Customize your admin area</li>
                <li>We help you promote your prototype to the right initial users and iterate based on beta feedback</li>
              </ul>
            </div>
            <div class="px-5 text-center">
              <%= link_to "Get started", contacts_path("type": "mvp"),
                class: "bg-blue-500 block font-black px-10 py-5 rounded-lg text-white text-lg w-full md:inline md:text-2xl md:w-fit hover:text-white" %>
              <p class="font-medium p-5 pt-8 px-10 pb-10 text-slate-400 text-lg">
                3 month engagement
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="hidden pt-10" data-tabs-target="panel">
        <div class="bg-white flex flex-col max-w-2xl mx-auto py-10 rounded-xl shadow-xl">
          <div class="flex justify-center">
            <%= feather_icon "calendar", size: "60", class: "my-5 text-slate-500" %>
          </div>
          <h3 class="font-black text-3xl text-center">
            1 month – $10,000
          </h3>
          <div class="p-5 pb-10 px-10">
            <p class="font-medium pb-3 text-slate-700 text-lg">
              <strong>A small, dedicated team will work on your current Jumpstart Pro product</strong>
            </p>
            <ul class="font-medium p-2 text-slate-700 text-lg">
              <li>Add new features</li>
              <li>Achieve new business goals</li>
              <li>Security updates</li>
              <li>Optimization</li>
              <li>Update admin area</li>
            </ul>
          </div>
          <div class="px-5 text-center">
            <%= link_to "Get started", contacts_path("type": "jumpstart"),
              class: "bg-blue-500 block font-black px-10 py-5 rounded-lg text-white text-lg w-full md:inline md:text-2xl md:w-fit hover:text-white" %>
            <p class="font-medium p-5 pt-8 px-10 pb-10 text-slate-400 text-lg">
              1 month engagement
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>