<!DOCTYPE html>
<html class="<%= class_names("h-full antialiased", "dark": current_user&.dark_theme?) %>" lang="<%= I18n.locale %>">
  <head>
    <title>Jumpstart Docs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= viewport_meta_tag %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/dracula.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>

    <%= yield :head %>
  </head>
  <body class="h-full overflow-x-hidden font-sans font-normal leading-normal bg-offwhite" data-controller="theme" data-theme-preference-value="<%= current_user&.theme %>">
    <%= yield %>
  </body>
</html>
